@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header {
    display: flex;
    height: 100px;

}

.logo {
    width: 105px;
    margin: 0.5rem auto;
}

.navigation {
    display: flex;
    width: 100%;
    background: #FFF;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 5px 0px rgb(191, 191, 191);
    transition: all 0.5s;
}

.navigation .logo {
    margin-left: 15px;
}

.link {
    margin-right: 0.6rem;
    color: #002768;
    font-size: 0.8rem;
    transition: all 0.3s;
}

.link:hover {
    color: grey;
    transform: scale(1.1);
    border-bottom: 1px solid rgb(207, 56, 56);
}
.slider {
    margin: 0 auto;
    width: 100%;
    height: 232px;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 350px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: all 1s;
}
.slide img {
    width: 100%;
  
}
.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -140px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #FFF;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 15px;
}
.manual-btn:hover {
    background-color: #FFF;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
.navigation-auto div {
    border: 2px solid blue;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}
.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 210px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 15px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
/* .foto-primeira-secao {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgb(191, 191, 191);
} */

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.second-section .title {
    margin: 1rem auto;
    color: #002768;
    border-bottom: 1px solid #b8324f;
}

.second-section .description {
    margin-bottom: 1.5rem;
    padding: 0 2.5rem;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 200;
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.5s;

}

.primeira-foto,
.segunda-foto,
.terceira-foto {
    width: 75%;
    margin: 10px;
    /* border-radius: 15px; */
    box-shadow: 0px 3px 3px 1px rgb(181, 181, 181);
    transition: all 0.3s;
}

/* .primeira-foto {
    border: 5px solid rgb(239, 95, 95);
}

.segunda-foto {
    border: 5px solid rgb(70, 85, 247);
}

.terceira-foto {
    border: 5px solid rgb(255, 255, 255);
} */

.primeira-foto:hover,
.segunda-foto:hover,
.terceira-foto:hover {
    border-radius: 10px;
    opacity: 50%;
}

.btn {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 25%;
    padding: 8px 10px;
    color: white;
    white-space: nowrap;
    background: #BF0B32;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    border-radius: 5px;
    background: #b8324f;

}

.divider {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 23px;
}

.divider .shape-fill {
    fill: #B8324F;
}

.request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #002768;
    transition: all 0.5s;
}

.request .titulo-request {
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem auto;
}

.request .description-request {
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.request-btn {
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    background: #BF0B32;
    transition: all 0.3s;
    margin: 1rem auto;
}

.request-btn:hover {
    transform: scale(1.1);
    background: #b8324f;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    transition: all 0.5s;
}

.third-section .title {
    margin-top: 3rem;
    color: #002768;
    border-bottom: 1px solid #b8324f;
}

.third-section .description {
    margin: 1.5rem 0 1.5rem 0;
    padding: 0 2.5rem;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 200;
}

.dados-empresa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 15px;
    color: rgb(216, 216, 216);
    background: #002768;
    transition: all 0.5s;
}

.house-icon {
    width: 35px;
    /* margin-left: 5px; */
}

.handshake-icon {
    width: 40px;
    /* margin-left: 10px; */
}

.location-icon {
    width: 25px;
}

.house-icon,
.handshake-icon,
.location-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(15%) saturate(171%) hue-rotate(191deg) brightness(120%) contrast(83%);
}

.dados-empresa .house-description,
.handshake-description,
.location-description {
    font-size: 0.7rem;
    align-items: center;
    text-align: center;
}

.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 2rem auto;
}

.video-section .youtube-video {
    /* display: flex;
    justify-items: center; */
    /* border: 3px solid #b8324f; */
    box-shadow: 0px 3px 3px 0px gray;
    /* border-radius: 10px; */
}

.video-section .description {
    margin: 1.5rem auto;
    padding: 0 2.5rem;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 200;
}

.video-section .title {
    margin-top: 1rem;
    color: #002768;
    border-bottom: 1px solid #b8324f;


}

.title span {
    color: #b8324f;
}

.fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
}

.ideia-one,
.ideia-two,
.ideia-three {
    width: 100%;
    height: 240px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 10px;
    margin-bottom: 2rem;
    background: rgb(251, 251, 251);
}

.ideia-title {
    margin: 0.7rem auto;
    color: #002768;
}

.ideia-description {
    font-weight: 200;
}
